
nav{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .menu-btn{
    border: none;
    visibility: hidden;
}
nav .nav-links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-links ul li{
    margin: 0 1.35rem;
}

.nav-links ul li a{
    text-align: center;
    text-decoration: none;
    color: var(--dark-grayish-blue);
    text-transform: capitalize;
    font-weight: 500;
    cursor: pointer;
}
.nav-links ul li a:hover{
    color: var(--black);
    padding-bottom: 2rem;
    border-bottom: 3.5px solid var(--orange);
}


nav .user{
    display: flex;
    align-items: center;
    justify-content:space-between;
    cursor: pointer;
}
.user .cart-logo{
    margin: 0 2rem;
}
.user .user-logo{
    height: 3rem;
    width: 3rem;
}
.underline{
    height: 0.1px;
    background: var(--grayish-blue);
    margin-top: 1.4rem;
}

@media screen and (max-width:650px){
    body{
        margin: 0;
    }
    nav{
        justify-content: space-around;
    }
    nav .menu-btn{
        visibility: visible;
        margin: 1rem;
    }
    .nav-links ul{
        display: none;
    }

    .user .user-logo{
        height: 2.5rem;
        width: 2.5rem;
    }

}